body{
    background-color: linen ;
}
.flex-container{
    display: flex;
    border: solid 3px green;
    justify-content: center;
}

.flex1{
    border: solid 3px red;
    width: 30rem;
    text-align: center;
}

.flex2{
    padding-top: 5rem;
    border: solid 3px blue;
    width: 30rem;
    text-align: center;
    font-size: large;
    font-weight: bold;    
}
    


    #hitAnimal{
        margin-bottom: 3rem;
    }
    #happiness{
        margin-bottom: 2rem;
    }

#lekaleka{
    font-size: larger;
    font-weight: bolder;
    background-color: hotpink;
    color: white;
    border-radius: 10px;
}
#lekaleka:hover{
    background-color: rgb(209, 15, 112);
    color: grey;
}
#lekaleka:active{
    background-color: black;
    color: white;
}
#matamata{
    font-size: larger;
    font-weight: bolder;
    background-color: hotpink;
    color: white;
    border-radius: 10px;
}
#matamata:hover{
    background-color: rgb(209, 15, 112);
    color: grey;
}
#matamata:active{
    background-color: black;
    color: white;
}

#bennyBild{
    font: larger;
    border: 8px solid green;
    min-height: 28rem;
    max-height: 28rem;
    text-align: center;
}

#formen{
    text-align: center;
}

#shitty{
    max-height: 28rem;
    max-width: 28rem;
    padding-top: 3rem;
}